name: Deploy

on:
  workflow_dispatch:
    inputs:
      CLEAR_DATA:
        description: 'Clear existing platform data before deployment'
        required: false
        type: boolean
        default: true
      ENABLE_ASPECTS:
        description: 'Rebuild all images before launch'
        required: false
        type: boolean
        default: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      SSH: ssh -o StrictHostKeyChecking=no -o TCPKeepAlive=yes -o ServerAliveInterval=150 -i ~/.ssh/demo.key hetzner@demonstration.edly.io
      VERSION: ulmo
      LMS_HOST: demonstration.edly.io
      VENV: ~/venv
      PIP: ~/venv/bin/pip
      TUTOR: ~/venv/bin/tutor
      # Always clear data and build images, unless it's a manually triggered workflow and it was unchecked.
      CLEAR_DATA: ${{ inputs.CLEAR_DATA == false && 'false' || 'true' }}
      ENABLE_ASPECTS: ${{ inputs.ENABLE_ASPECTS == true && 'true' || 'false' }}
    steps:
      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_KEY" > ~/.ssh/demo.key
          chmod 600 ~/.ssh/demo.key
        env:
          SSH_KEY: ${{ secrets.SALES_DEMO_SSH_KEY }}

      - name: Create virtualenv
        run: |
          $SSH "#! /bin/bash -e
          rm -rf $VENV
          python3 -m venv $VENV
          "

      - name: Upgrade python requirements
        # Older versions of pip are affected by this issue which prevents us from
        # installing in editable mode in ~/.local:
        # https://github.com/pypa/pip/issues/7953
        run: |
          $SSH "#! /bin/bash -e
          $PIP install --upgrade pip setuptools
          "
      # Server system dependencies, to be run separately
      # apt update && apt install -y python3-pip
      - name: Install dependencies, tutor and plugins
        run: |
          $SSH "#! /bin/bash -e
            $PIP install --upgrade "tutor[full]==21.0.1"
            $PIP install --upgrade tutor-contrib-codejail==21.0.0
            $PIP install --upgrade tutor-contrib-aspects==3.0.2
            $PIP install --upgrade git+https://github.com/openedx/tutor-contrib-notifications
            $PIP install --upgrade git+https://github.com/edly-io/tutor-indigo.git@feat/theme-logos-branding-primary-secondary-dark
          "
      # Backup
      - name: Backup data
        if: env.CLEAR_DATA == 'true'
        run: |
          $SSH "#! /bin/bash -e
            mkdir -p ~/apps/openedx/backup
            if [ -d ~/.local/share/tutor/data/caddy ]
            then
              echo "Backing up caddy data"
              sudo cp -r ~/.local/share/tutor/data/caddy ~/apps/openedx/backup/
            else
              echo "No caddy data to backup"
            fi
          "
      # Clear
      - name: Clear existing platform
        if: env.CLEAR_DATA == 'true'
        run: |
          $SSH "#! /bin/bash -e
            if [ -d ~/.local/share/tutor/env ]
            then
              echo "Stopping tutor containers"
              $TUTOR local stop
            else
              echo "No running tutor container"
            fi
            sudo rm -rf ~/.local/share/tutor
            docker container prune --force
          "
      # Restore
      - name: Restore some data
        if: env.CLEAR_DATA == 'true'
        run: |
          $SSH "#! /bin/bash -e
            mkdir -p ~/.local/share/tutor/data/
            if [ -d ~/apps/openedx/backup/caddy ]
            then
              echo "Restoring caddy backup data"
              sudo cp -r ~/apps/openedx/backup/caddy ~/.local/share/tutor/data/
            else
              echo "No caddy backup data to restore"
            fi
          "
      # Configure
      - name: Enable plugins
        run: $SSH "$TUTOR plugins enable mfe aspects credentials discovery minio forum notes xqueue codejail jupyter notifications"
      - name: Enable aspects
        if: env.ENABLE_ASPECTS == 'true'
        run: $SSH "$TUTOR plugins enable aspects"
      - name: Configure tutor settings
        run: |
          $SSH "#! /bin/bash -e
            $TUTOR config save \
              --set LMS_HOST=$LMS_HOST \
              --set CMS_HOST=studio.$LMS_HOST \
              --set ENABLE_HTTPS=true \
              --set PLATFORM_NAME='Open edX Ulmo Demo'
          "

      - name: Configure xqueue grader password
        run: |
          $SSH "$TUTOR config save --set XQUEUE_REPOSITORY_VERSION=master --set XQUEUE_AUTH_PASSWORD=xqueuepassword"

      - name: Configure Jupyter LTI Password
        run: |
          $SSH "$TUTOR config save --set JUPYTER_LTI_CLIENT_SECRET=jupyter-lti-password"

      - name: Configure Aspects
        run: |
          $SSH "$TUTOR config save --set ASPECTS_ENABLE_PII=true --set ASPECTS_ENABLE_STUDIO_IN_CONTEXT_METRICS=true"

      - name: Build Docker images (required for aspects plugin)
        if: env.ENABLE_ASPECTS == 'true'
        run: |
          $SSH "#! /bin/bash -e
            $TUTOR images build openedx --no-cache && \
            $TUTOR images build mfe --no-cache && \
            $TUTOR images build aspects aspects-superset
          "

      - name: Initialize codejail
        run: $SSH "$TUTOR local do init --limit=codejail"

      - name: Launch
        run: $SSH "$TUTOR local launch --skip-build --non-interactive"

      - name: "Provision: Import demo course"
        run: $SSH "$TUTOR local do importdemocourse"
